<mat-list>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{ (filteredTasks$ | async)?.length ? 'Tareas' : 'No se han registrado tareas' }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-footer>
      <div class="filter-buttons">
        <button mat-button color="primary" (click)="setFilter('all')">Todas</button>
        <button mat-button color="primary" (click)="setFilter('pending')">Pendientes</button>
        <button mat-button color="primary" (click)="setFilter('completed')">Completadas</button>
      </div>
    </mat-card-footer>
  </mat-card>

  <mat-card *ngFor="let task of filteredTasks$ | async; trackBy trackTask" class="task-card">
    <mat-card-header>
      <mat-card-title>
        <input
          type="checkbox"
          [(ngModel)]="task.state"
          (change)="toggleTaskState(task)">
        {{ task.name }}
      </mat-card-title>
      <mat-card-subtitle>{{ task.date | date }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p><strong>Estado:</strong> {{ task.state ? 'Completada' : 'Pendiente' }}</p>
      <p><strong>Personas asociadas:</strong></p>

      <ul>
        <li *ngFor="let person of task.persons; let i = index">
          {{ person.name }} ({{ person.age }} años) - Habilidades:
          <span *ngIf="person.skills.length; else noSkills">{{ person.skills.join(', ') }}</span>
          <ng-template #noSkills>No tiene habilidades registradas</ng-template>
          
          
          <button mat-button color="warn" (click)="removePerson(task, i)">Borrar</button>
        </li>

        <li *ngIf="!task.persons?.length">No se han asignado personas</li>
      </ul>
    </mat-card-content>
  </mat-card>
</mat-list>
